.error-message-button
  color: #636363
  min-height:90px
  min-width: 50px
  width:100%
  font-size: 18px
  white-space: pre-wrap !important
  line-height: 1.2
.error-message-button-red
  flex: 1 auto
  height: 100% !important
  min-height:60px
  min-width: 50px
  background-color: #ffae00
  color: #ffffff
  width:100%
  font-size: 18px
  white-space: pre-wrap !important
  line-height: 1.2
.message-container
  border-radius: 6px
  margin:4px
  padding:2px

.buttons-loop
  min-width: 90px
  flex: 1
  min-height: 50px
  margin-bottom: 4px
@media screen and (max-width: 768px)
  .buttons-loop
    flex: 1
  .error-message-button
    flex: 1 auto
    height: 100% !important
  .button-container
    height: 90%
  .message-container
    height:100%
.button-container
  column-gap:4px
  padding:2px
  width:100%
.message-sub-container
  height:100%
.header-wrapper
  line-height: 1.2
  padding-top:4px
  min-height: 50px
  height:10%
.back-button
  background-color: #ffffff
  color: #2f88fe
  float: left
  position: absolute
  height: 40px
  width:40px
  left: 5px
  top: 5px
  margin: 0
