<div class="panel-container" fxLayout="row wrap" fxLayoutAlign="center">
  <div class="button-container" fxLayout="row wrap" fxLayoutAlign="center">
    <button mat-button class="switchbot-card" (click)="openDialogSwitchbotView()" [class.mat-elevation-z2]="true">
      <mat-icon class="menu-list-icon">device_hub</mat-icon>
      スウィッチボット管理
    </button>
  </div>
  <div class="button-container" fxLayout="row wrap" fxLayoutAlign="center">
    <button mat-button class="switchbot-card" [class.mat-elevation-z2]="true">
      <mat-icon class="menu-list-icon">videogame_asset</mat-icon>
      RaspberryPi管理
    </button>
  </div>
  <div class="button-container" fxLayout="row wrap" fxLayoutAlign="center">
    <button mat-button class="switchbot-card" [class.mat-elevation-z2]="true">
      <mat-icon class="menu-list-icon">dns</mat-icon>
      設備管理
    </button>
  </div>
  <div class="button-container" fxLayout="row wrap" fxLayoutAlign="center">
    <button mat-button class="switchbot-card" [class.mat-elevation-z2]="true">
      <mat-icon class="menu-list-icon">supervisor_account</mat-icon>
      アカウント管理
    </button>
  </div>
</div>
