<div fxLayout="col wrap" fxLayoutAlign="center center">
  <div>
    <mat-icon class="header-icon">supervisor_account</mat-icon>
  </div>
  <div class="dialog-header">
    <h2>アカウント管理</h2>
  </div>
  <span class="spacer"></span>
  <button class="add-button" (click)="openDialogAccountReg()" *ngIf="accountList$" mat-icon-button>
    <mat-icon class="add-button-icon">add</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <div fxLayout="col wrap" fxLayoutAlign="center center" *ngIf="!accountList$">
    <mat-spinner [diameter]="50" [strokeWidth]="120" class="spinner"></mat-spinner>
  </div>
  <div class="table-container" fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="accountList$">
    <table mat-table [dataSource]="accountList$" class="mat-elevation-z0">
      <ng-container matColumnDef="GID">
        <th mat-header-cell *matHeaderCellDef class="element-header">GID</th>
        <td mat-cell *matCellDef="let element" class="element-data"> {{element.GIDFull}} </td>
      </ng-container>
      <ng-container matColumnDef="氏名">
        <th mat-header-cell *matHeaderCellDef class="element-header">氏名</th>
        <td mat-cell *matCellDef="let element" class="element-data"> {{element.FullName}} </td>
      </ng-container>
      <ng-container matColumnDef="操作">
        <th mat-header-cell *matHeaderCellDef class="element-header">操作</th>
        <td mat-cell *matCellDef="let element">
          <button (click)="openDialogAccountEdit(element)" class="edit-button" mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="openDialogPassEdit(element)" class="edit-pass-button" mat-icon-button>
            <mat-icon>key</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>
    </table>
  </div>
</div>
<div mat-dialog-actions fxLayout="col wrap" fxLayoutAlign="center center">
  <button type="button" (click)="closeDialog()" mat-stroked-button class="closebutton">
    <mat-icon>cancel</mat-icon>
  </button>
</div>
