<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <span class="material-icons toolbar-icon" *ngIf="!snav.opened">settings</span>
      <span class="material-icons toolbar-icon" *ngIf="snav.opened">close</span>
    </button>
    <nav id="navigation">
    </nav>
    <h1 class="app-name">外電P1設備_間接操作システム</h1>
    <span class="spacer"></span>
    <button  *ngIf="this.WorkerInfo[0]" class="button-acc-menu" mat-button [matMenuTriggerFor]="account_menu">
      <mat-icon>account_circle</mat-icon>
      {{ this.WorkerInfo[0]?.FullName}}
    </button>
    <mat-menu #account_menu="matMenu">
    <button mat-menu-item (click)="backButton()">
      <mat-icon>exit_to_app</mat-icon>ログアウト
    </button>
  </mat-menu>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
    [hasBackdrop]="true">
    <mat-sidenav position="start" #snav [class.side-nav-is-mobile]="mobileQuery.matches" [class.not-sidenav-is-mobile]="!mobileQuery.matches"
      [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <span class="nav-label">QRスキャン</span>
        <a mat-list-item routerLink="/scan" (click)="snav.toggle()" class="menu-button" routerLinkHover
          routerLinkActive="active-list-item">
          <mat-icon>crop_free</mat-icon>
          <span>スキャン</span>
        </a>
        <span class="nav-label">情報管理</span>
        <a mat-list-item routerLink="/panel" (click)="snav.toggle()" class="menu-button"
          routerLinkActive="active-list-item">
          <mat-icon>settings</mat-icon>
          <span>パネル</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="main-container">
      <div class="backgrounder-blue"></div>
      <router-outlet #outlet="outlet"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-toolbar class="footer">
    <div>
      Taiyo Yuden Co., Ltd&copy; {{year}}
    </div>
  </mat-toolbar>
</div>
