<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <span class="material-icons toolbar-icon" *ngIf="!snav.opened">settings</span>
      <span class="material-icons toolbar-icon" *ngIf="snav.opened">close</span>
    </button>
    <nav id="navigation">
      <!--navigation goes here-->
    </nav>
    <h1 class="app-name">SwitchBot</h1>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav position="start" #snav [class.side-nav-is-mobile]="mobileQuery.matches"
      [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="main-container">
      <div class="backgrounder-blue"></div>
        <router-outlet #outlet="outlet" ></router-outlet>



    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
