
.container
  margin-bottom: 0px
  display: flex
  flex-direction: column
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0


.backgrounder-blue
  top: 0px
  position: absolute
  height:150px
  z-index: -999
  background-color: #2f88fe
  width: 100%

.toolbar
  background-color: #2f88fe
  color: #ffffff
.is-mobile .toolbar
  background-color: #2f88fe
  position: fixed
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2

.app-name
  margin-left: 8px

.main-container
  min-width: 350px
.sidenav-container
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1

.toolbar-icon
  font-size: 30px

.is-mobile .sidenav-container
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto

.side-nav-is-mobile
  width: 100%

