.error-message-button
  color: #636363
  min-height: 90px
  min-width: 50px
  width: 100%
  font-size: 18px
  white-space: pre-wrap !important
  line-height: 1.2
.error-message-button-red
  flex: 1 auto
  height: 100% !important
  min-height: 60px
  min-width: 50px
  background-color: #ffae00
  color: #ffffff
  width: 100%
  font-size: 18px
  white-space: pre-wrap !important
  line-height: 1.2
.message-container
  border-radius: 6px
  margin: 4px
  padding: 2px
  min-width: 250px
  width: 610px
.mat-select
  color: #585858
  font-weight: bold
input.mat-form-field-label
  font-weight: bold
.qrcard-loop
  margin-bottom: 10px
@media screen and (max-width: 900px)
  .qrcard-loop
    margin-bottom: 10px
.qr-container
  padding: 2px
  width: 100%
.qrloop-container
  column-gap: 10px
  max-width: 600px
  padding: 10px
.menuArea
  padding-top: 10px
.qr-header
  text-align: center
  line-height: 16px
  height: 45px
  border-bottom: 2px solid #2f88fe
.header-wrapper
  padding-top: 6px
.generatedQR
  min-width: 80px
  min-height: 80px
  width: 100px
  height: 120px
.mat-spinner
  ::ng-deep circle
    stroke: #2f88fe
.qr-pic
  border-radius: 20px
.backButton
  padding-left: 10px
  padding-right: 10px
.qr-title
  padding-top: 5px
.back-button
  color: #2f88fe
